@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

h1{
    background-color: white;
	border-radius: 9px;
	border: 5px solid #FFEFEF;
	margin: 50px auto;
	position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

body {
	background-color: #f1f1f1;
	background-size: 100px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 16px;
	/** 기본 폰트 설정 */
	font-family: "Noto Sans KR", sans-serif;	
}

.bookcover {/*제일큰부분*/
	max-width: 1400px; 
	max-height: 800px;
	background-color: #CDB1B1;
	border-radius: 9px;
	border: 1px solid #738186;
	width:65vw;
	height:80vh;
	margin: 50px auto;
	position: relative;
}

.bookdot {/*커버꾸미기*/
	border-radius: 9px;
	border: 2px dashed #BFA0A0;
	padding: 0.8em;
	position: absolute;
	top: 0.6em;
	left: 0.6em;
	right: 0.6em;
	bottom: 0.6em;
}

.main-container{
	border-radius: 10px;
	background-color: #eeeeee;
	width:100%;
	height: 100%;
	display:flex;
	flex-direction:column;
	margin-top: 0 auto;
    font-family: "Noto Sans KR", sans-serif;
    text-align:center;
	align-items:center;

}

.main-container.main{
	width:768px;
	max-width: 70%;
	max-width: 60%;
}

.login-input-section{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login{
	text-align: center;
	color: #8E6868;
	
}

.login-input{ /*아이디 영역*/
	background: white;
    text-align: end;
    border-radius: 7px;
	border: 2px solid #BFA0A0;
    
}
.password{ /*비밀번호 영역*/
	margin-top: 13px;
	
}
.login-input input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}



.login-button {
	padding-top: 13px;    
}

.login-button button{
    font-size: 30px;
}



.button {
    margin-top: 2em;
    position: relative;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;    
    max-width: 60px;
	width: 10vw;
	font-size: 1rem;
	padding: 0.4rem;
	background-color: #dbcaca;
	border-radius: 9px;
	border: 1px solid #BFA0A0;
	cursor: pointer;
	color: #8E6868;
}

.button:hover {/*버튼설정3*/
	background-color: #8E6868;
	color: #FFEFEF;
}
